

<div style="margin-top:60px">
  <div class="container-fluid"> 
    <div class="col-md-2 _3e_Ruh" data-toggle="modal" data-target="#myModal" id="mod1">
      <a title="Upto 60%+Extra 5% Off" class="K6IBc-" data-widget-type="omu" data-tracking-id="" >
        <img src="https://allensolly.imgix.net/img/app/product/2/259522-1001634.jpg" style="width:100%;height:234px;">
        <div class="iUmrbN">Shoes Product N0. 1</div>
        <div class="BXlZdc">Upto 60%+Extra 5% Off</div>
        <div class="_3o3r66">Rs. <span class="Rs">50</span></div>
      </a> 
    </div>
    <div class="col-md-2 _3e_Ruh" data-toggle="modal" data-target="#myModal">
      <a title="Upto 60%+Extra 5% Off" class="K6IBc-" data-widget-type="omu" data-tracking-id="" >
        <img src="https://staticimg.titan.co.in/Titan/Catalog/90102SL03_1.jpg?pView=pdp" style="width:100%;height:234px;">
        <div class="iUmrbN">Titan, Fastrack</div>
        <div class="BXlZdc">Upto 50%+Extra 25% Off</div>
        <div class="_3o3r66">Rs. <span class="Rs">100.00</span></div>
      </a>
    </div>
    <div class="col-md-2 _3e_Ruh" data-toggle="modal" data-target="#myModal">
      <a title="Upto 60%+Extra 5% Off" class="K6IBc-" data-widget-type="omu" data-tracking-id="" >
        <img src="https://n4.sdlcdn.com/imgs/f/5/8/Pepe-Jeans-Blue-Slim-Jeans-SDL444645531-2-9f402.jpeg" style="width:100%;height:234px;">
        <div class="iUmrbN">Jeans, Trousers </div>
        <div class="BXlZdc">Upto 55%+Extra 35% Off</div>
        <div class="_3o3r66">Rs. <span class="Rs">200.00</span></div>
      </a>
    </div>
    <div class="col-md-2 _3e_Ruh" data-toggle="modal" data-target="#myModal">
      <a title="Upto 60%+Extra 5% Off" class="K6IBc-" data-widget-type="omu" data-tracking-id="" >
        <img src="https://www.trzcacak.rs/myfile/detail/9-92201_black-sunglasses-picsart-mood-boards-black-sun-glass.png" style="width:100%;height:234px;">
        <div class="iUmrbN">Mobile, Cell Phones</div>
        <div class="BXlZdc">Upto 10%+Extra 5% Off</div>
        <div class="_3o3r66">Rs. <span class="Rs">300.00</span></div>
      </a>
    </div>
    <div class="col-md-2 _3e_Ruh" data-toggle="modal" data-target="#myModal">
      <a title="Upto 60%+Extra 5% Off" class="K6IBc-" data-widget-type="omu" data-tracking-id="" >
        <img src="https://de9luwq5d40h2.cloudfront.net/catalog/product/large_image/43_41435100025.jpg" style="width:100%;height:234px;">
        <div class="iUmrbN">T-Shirts,Mens Wear</div>
        <div class="BXlZdc">Upto 40%+Extra 15% Off</div>
        <div class="_3o3r66">Rs. <span class="Rs">400.00</span></div>
      </a>
    </div>
    <div class="col-md-2 _3e_Ruh" data-toggle="modal" data-target="#myModal">
      <a title="Upto 60%+Extra 5% Off" class="K6IBc-" data-widget-type="omu" data-tracking-id="" >
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiU-6hwPUwoZB4GWD1THoHEj2QwL6w5Ey9GLsqOvSiHjarX6CF-g" style="width:100%;height:234px;">
        <div class="iUmrbN">Home Theater, TV's</div>
        <div class="BXlZdc">Upto 20%+Extra 5% Off</div>
        <div class="_3o3r66">Rs. <span class="Rs">500.00</span></div>
      </a>
    </div>
  </div>
  <div class="container-fluid"> 
    <div class="col-md-2 _3e_Ruh" data-toggle="modal" data-target="#myModal" id="mod1">
      <a title="Upto 60%+Extra 5% Off" class="K6IBc-" data-widget-type="omu" data-tracking-id="" >
        <img src="https://allensolly.imgix.net/img/app/product/2/259522-1001634.jpg" style="width:100%;height:234px;">
        <div class="iUmrbN">Shoes Product N0. 1</div>
        <div class="BXlZdc">Upto 60%+Extra 5% Off</div>
        <div class="_3o3r66">Rs. <span class="Rs">50</span></div>
      </a> 
    </div>
    <div class="col-md-2 _3e_Ruh" data-toggle="modal" data-target="#myModal">
      <a title="Upto 60%+Extra 5% Off" class="K6IBc-" data-widget-type="omu" data-tracking-id="" >
        <img src="https://staticimg.titan.co.in/Titan/Catalog/90102SL03_1.jpg?pView=pdp" style="width:100%;height:234px;">
        <div class="iUmrbN">Titan, Fastrack</div>
        <div class="BXlZdc">Upto 50%+Extra 25% Off</div>
        <div class="_3o3r66">Rs. <span class="Rs">100.00</span></div>
      </a>
    </div>
    <div class="col-md-2 _3e_Ruh" data-toggle="modal" data-target="#myModal">
      <a title="Upto 60%+Extra 5% Off" class="K6IBc-" data-widget-type="omu" data-tracking-id="" >
        <img src="https://n4.sdlcdn.com/imgs/f/5/8/Pepe-Jeans-Blue-Slim-Jeans-SDL444645531-2-9f402.jpeg" style="width:100%;height:234px;">
        <div class="iUmrbN">Jeans, Trousers </div>
        <div class="BXlZdc">Upto 55%+Extra 35% Off</div>
        <div class="_3o3r66">Rs. <span class="Rs">200.00</span></div>
      </a>
    </div>
    <div class="col-md-2 _3e_Ruh" data-toggle="modal" data-target="#myModal">
      <a title="Upto 60%+Extra 5% Off" class="K6IBc-" data-widget-type="omu" data-tracking-id="" >
        <img src="https://www.trzcacak.rs/myfile/detail/9-92201_black-sunglasses-picsart-mood-boards-black-sun-glass.png" style="width:100%;height:234px;">
        <div class="iUmrbN">Mobile, Cell Phones</div>
        <div class="BXlZdc">Upto 10%+Extra 5% Off</div>
        <div class="_3o3r66">Rs. <span class="Rs">300.00</span></div>
      </a>
    </div>
    <div class="col-md-2 _3e_Ruh" data-toggle="modal" data-target="#myModal">
      <a title="Upto 60%+Extra 5% Off" class="K6IBc-" data-widget-type="omu" data-tracking-id="" >
        <img src="https://de9luwq5d40h2.cloudfront.net/catalog/product/large_image/43_41435100025.jpg" style="width:100%;height:234px;">
        <div class="iUmrbN">T-Shirts,Mens Wear</div>
        <div class="BXlZdc">Upto 40%+Extra 15% Off</div>
        <div class="_3o3r66">Rs. <span class="Rs">400.00</span></div>
      </a>
    </div>
    <div class="col-md-2 _3e_Ruh" data-toggle="modal" data-target="#myModal">
      <a title="Upto 60%+Extra 5% Off" class="K6IBc-" data-widget-type="omu" data-tracking-id="" >
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiU-6hwPUwoZB4GWD1THoHEj2QwL6w5Ey9GLsqOvSiHjarX6CF-g" style="width:100%;height:234px;">
        <div class="iUmrbN">Home Theater, TV's</div>
        <div class="BXlZdc">Upto 20%+Extra 5% Off</div>
        <div class="_3o3r66">Rs. <span class="Rs">500.00</span></div>
      </a>
    </div>
  </div>
  <div class="container-fluid"> 
    <div class="col-md-2 _3e_Ruh" data-toggle="modal" data-target="#myModal" id="mod1">
      <a title="Upto 60%+Extra 5% Off" class="K6IBc-" data-widget-type="omu" data-tracking-id="" >
        <img src="https://allensolly.imgix.net/img/app/product/2/259522-1001634.jpg" style="width:100%;height:234px;">
        <div class="iUmrbN">Shoes Product N0. 1</div>
        <div class="BXlZdc">Upto 60%+Extra 5% Off</div>
        <div class="_3o3r66">Rs. <span class="Rs">50</span></div>
      </a> 
    </div>
    <div class="col-md-2 _3e_Ruh" data-toggle="modal" data-target="#myModal">
      <a title="Upto 60%+Extra 5% Off" class="K6IBc-" data-widget-type="omu" data-tracking-id="" >
        <img src="https://staticimg.titan.co.in/Titan/Catalog/90102SL03_1.jpg?pView=pdp" style="width:100%;height:234px;">
        <div class="iUmrbN">Titan, Fastrack</div>
        <div class="BXlZdc">Upto 50%+Extra 25% Off</div>
        <div class="_3o3r66">Rs. <span class="Rs">100.00</span></div>
      </a>
    </div>
    <div class="col-md-2 _3e_Ruh" data-toggle="modal" data-target="#myModal">
      <a title="Upto 60%+Extra 5% Off" class="K6IBc-" data-widget-type="omu" data-tracking-id="" >
        <img src="https://n4.sdlcdn.com/imgs/f/5/8/Pepe-Jeans-Blue-Slim-Jeans-SDL444645531-2-9f402.jpeg" style="width:100%;height:234px;">
        <div class="iUmrbN">Jeans, Trousers </div>
        <div class="BXlZdc">Upto 55%+Extra 35% Off</div>
        <div class="_3o3r66">Rs. <span class="Rs">200.00</span></div>
      </a>
    </div>
    <div class="col-md-2 _3e_Ruh" data-toggle="modal" data-target="#myModal">
      <a title="Upto 60%+Extra 5% Off" class="K6IBc-" data-widget-type="omu" data-tracking-id="" >
        <img src="https://www.trzcacak.rs/myfile/detail/9-92201_black-sunglasses-picsart-mood-boards-black-sun-glass.png" style="width:100%;height:234px;">
        <div class="iUmrbN">Mobile, Cell Phones</div>
        <div class="BXlZdc">Upto 10%+Extra 5% Off</div>
        <div class="_3o3r66">Rs. <span class="Rs">300.00</span></div>
      </a>
    </div>
    <div class="col-md-2 _3e_Ruh" data-toggle="modal" data-target="#myModal">
      <a title="Upto 60%+Extra 5% Off" class="K6IBc-" data-widget-type="omu" data-tracking-id="" >
        <img src="https://de9luwq5d40h2.cloudfront.net/catalog/product/large_image/43_41435100025.jpg" style="width:100%;height:234px;">
        <div class="iUmrbN">T-Shirts,Mens Wear</div>
        <div class="BXlZdc">Upto 40%+Extra 15% Off</div>
        <div class="_3o3r66">Rs. <span class="Rs">400.00</span></div>
      </a>
    </div>
    <div class="col-md-2 _3e_Ruh" data-toggle="modal" data-target="#myModal">
      <a title="Upto 60%+Extra 5% Off" class="K6IBc-" data-widget-type="omu" data-tracking-id="" >
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiU-6hwPUwoZB4GWD1THoHEj2QwL6w5Ey9GLsqOvSiHjarX6CF-g" style="width:100%;height:234px;">
        <div class="iUmrbN">Home Theater, TV's</div>
        <div class="BXlZdc">Upto 20%+Extra 5% Off</div>
        <div class="_3o3r66">Rs. <span class="Rs">500.00</span></div>
      </a>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Buy/Add To Cart</h4>
        </div>
        <div class="modal-body">
          <div style="width: 15%;float:left;">
              <img src="" id="idI"  style="width:100%;height:100%">
          </div>
          <div style="width: 85%;float: left; text-align: center">
              <h1 id="idP"></h1>
              <h5 id="idQ"></h5>
              <h3 id="idR"></h3>
              <h3 id="idRs"></h3>
          </div>  
         </div>
        <div class="modal-footer" style="clear:both; text-align: center">
          <button type="button" class="btn btn-default" (click)="update()">Add To Cart</button>
        </div>
      </div>
    </div>
  </div>