.K6IBc- { text-decoration: none;}
.K6IBc- div.iUmrbN { color: black; font-weight:bold;}
.K6IBc- div.BXlZdc { color: green;}
.K6IBc- div._3o3r66 { color: rgb(77, 77, 73);}
.K6IBc- div._3e_Ruh { color: green;}
._3e_Ruh { padding: 10px;}

 ._3e_Ruh { cursor: pointer;}

